header {
    background-color: #222222;
    color: #F3F3F3;
}

#distrib-header-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5vh;
}   

#config-ofertas {
    margin-left: 5vw;
    font-weight: 400;
}

#config-pag {
    display: flex;
    margin-right: 5vw;
}

.config-pag-botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
}

.config-flechas {
    margin-left: 5px;
    margin-right: 10px;
}

/*BARRA DE NAVEGACION*/

#style-nav-bar {
    background-color: #f0a83e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

#primer-div {
    display: flex;
    margin-left: 3vw;
}

#titulo-front {
    color: black;
}

.nav-bar-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5vw;
}

.nav-bar-list {
    list-style-type: none;
    margin-right: 2vw;
    font-weight: 400;
}

.nav-bar-list a:link{
    text-decoration: none;
    color: white;
}


.nav-bar-list a:visited {
    text-decoration: none;
    color: white;
}

/*SECCION MAIN*/

#presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
}

.align-center-padding {
    text-align: center;
    padding-top: 3vh;
}

#productos-destacados {
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 1vh;
    padding-bottom: 3vh;
    font-weight: 700;
    font-size: 40px;
}

.ul-productos {
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: #666666;
}

.productos {
    padding: 1vw;
    font-weight: 400;
    font-weight: 400;
}

.productos a:link {
    color: #666666;
    text-decoration: none;
}

.productos a:visited {
    color: #666666;
    text-decoration: none;
}

.imagenes-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3C2313;
    text-decoration: none;
    font-weight: 500;
}

.precio-cards {
    color: #F0A83E;

}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding-inline-start: 0em;
}